<%- include('../partials/header') %>
<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height:100vh; background-image: url(https://img.jagranjosh.com/images/2022/September/2192022/ast-compressed.jpg); background-size: cover;">
    <div class="row">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card" style="border: 5px solid #000000; border-radius: 25px;">
          <div class="card-body bg-gradient-black">
            <h2><%= user.name %> on <%= new Date().toDateString() %> </h2>
            <h3 class="text-center text-primary"><%= blog.monthlySunSign %> Season</h3>
            <p class="card-text text-secondary">Daily Moon Sign: <%= blog.dailyMoonSign %></p>
            <p class="card-text text-success">Daily Intention: <%= blog.dailyIntention %></p>
            <p class="card-text text-danger">Top Priorities: <%= blog.topPriorities %></p>
            <p class="card-text text-info">Today's Plans: <%= blog.scheduledPlans %></p>
          </div>
          <div class="card-footer">
            <td><a href="/blogs/<%=blog._id%>/edit" class="btn btn-primary">Edit</a></td>
          </div>
          <br><br><h2>To Do List</h2>
          <form method="POST" action="/blogs/<%= blog._id %>/todos">
          <label>Review:</label>
          <textarea name="content"></textarea>
        </div>
      </div>
    </div>
  </div>
  
<%- include('../partials/footer') %>
