<%- include('../partials/header') %>
  <div class="container-fluid d-flex justify-content-center align-items-center"
    style="min-height:100vh; background-image: url(https://img.jagranjosh.com/images/2022/September/2192022/ast-compressed.jpg); background-size: cover;">
    <div class="row">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card" style="border: 5px solid #000000; border-radius: 25px;">
          <div class="card-body bg-gradient-black">
            <h2>

            </h2>
            <h3 class="text-center text-primary">
              <%= blog.monthlySunSign %> Season
            </h3>
            <p class="card-text text-secondary">Daily Moon Sign: <%= blog.dailyMoonSign %>
            </p>
            <p class="card-text text-success">Daily Intention: <%= blog.dailyIntention %>
            </p>
            <p class="card-text text-danger">Top Priorities: <%= blog.topPriorities %>
            </p>
          </div>
          <div class="card-footer d-flex justify-content-center">
            <td><a href="/blogs/<%=blog._id%>/edit" class="btn btn-primary">Edit</a></td>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <div class="row d-flex justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="container-fluid d-flex justify-content-center align-items-center">
          <div class="row">
            <div class="col-lg-8 col-md-10 col-sm-12">
              <div class="card" style="border: 5px solid #000000; border-radius: 25px;">
                <div class="card-body bg-gradient-black">
                  <h2>To Do List</h2>
                  <% if (blog.todos.length) { %>
                    <ul>
                      <% blog.todos.forEach(function(t) { %>
                        <li>
                          <%= t.tasks %>
                          <form action="/todos/<%= t._id %>?_method=DELETE" method="POST" id="deleteTodos">
                            <button class="btn" type="submit">delete</button>
                          </form>
                        </li>
                        <% }); %>
                    </ul>
                    <% } else { %>
                      <h5 class="text-center">No Tasks Yet</h5>
                      <% } %>
                </div>
              </div>
            </div>
            <div class="col-lg-8 col-md-10 col-sm-12">
                <form method="POST" action="/blogs/<%= blog._id %>/todos" class="d-flex justify-content-center">
                  <label>add your task:</label>
                  <textarea name="tasks"></textarea>
                  <input type="submit" value="Add Todo">
                </form>
              </div>
            </div>
          </div>
        </div>
        
      <%- include('../partials/footer') %>
